html , body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.web-chat {
  border: 1px solid rgb(216, 210, 210);
  display: grid;
  grid-template-areas: 'input chat chat'
    'members chat chat'
    'members chat chat'
    'members chat chat'
    'message message message';

  /* grid-template-columns: 30% 35% 35%; */
  grid-template-rows: 10% 25% 25% 25% 15%;
  height: 80vh;
  margin: 30px auto;
  max-width: 90%;
}

.nickname-section {
  align-items: center;
  display: flex;
  grid-area: input;
  justify-content: space-evenly;
  padding: 1rem;
}

.nickname-section input {
  border: 1px solid rgb(221, 220, 220);
  border-radius: 3px;
  height: 75%;
  width: 70%;
}

.chat-section {
  display: flex;
  flex-direction: column;
  grid-area: chat;
  justify-content: flex-start;
  overflow-y: scroll;
  padding: 2%;
  scroll-behavior: smooth;
}

.chat-section p {
  background-color: rgb(170, 170, 170);
  border-radius: 7px;
  padding: 10px 5px;
  width: 95%;
}

.active-members-section {
  grid-area: members;
  padding: 1rem 3rem;
  text-align: left;
}

.active-members-section ul {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  list-style-type: none;
}

.active-members-section ul li {
  margin: 0.5%;
  padding: 2%;
}


.send-message-section {
  align-items: center;
  display: flex;
  grid-area: message;
  justify-content: space-evenly;
}

.send-message-section input {
  border: 1px solid rgb(221, 220, 220);
  border-radius: 3px;
  height: 75%;
  outline: none;
  width: 70%;
}

.btn {
  background-color: rgb(1, 173, 1);
  border: none;
  border-radius: 3px;
  color: white;
  font-weight: 700;
  height: 75%;
  padding: auto;
  text-transform: uppercase;
  width: 20%;
}

.title {
  color: rgb(80, 80, 80);
  text-align: center;
}
